<div class="container">
  <div class="columns">
    <div class="column">
      <HasInnerState />
    </div>
    <div class="column">
      <HasIfCondition />
    </div>
    <div class="column">
      <HasDynamicComponent />
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <HasRepeater />
    </div>
    <div class="column">
      <HasSlot>
        <div slot="slot1">
          <Red text="Named slot" />
        </div>

        <Green text="Default slot" />
      </HasSlot>
    </div>
  </div>
</div>


<script>
  import HasInnerState from './HasInnerState.html';
  import HasIfCondition from './HasIfCondition.html';
  import HasDynamicComponent from './HasDynamicComponent.html';
  import HasRepeater from './HasRepeater.html';
  import HasSlot from './HasSlot.html';

  import Red from './Red.html';
  import Green from './Green.html';

  export default {
    components:{
      HasInnerState, HasRepeater, HasIfCondition, HasDynamicComponent, HasSlot, Red, Green
    }
  }
</script>